.card-resource-required {
  align-items: center;
  display: flex;

}

.card-resource-required_icon {
  color: $colour-grey-light-3;
}

.card-resource-required_value {
  color: $colour-grey-light-3;
}
