/.env
/.nvmrc
/.idea
.DS_Store
/node_modules
/node_modules*
/public/index.html
/public/welcome.html
/public/version.txt
/public/css
/public/js
/public/storage
*.log
/.ruby-gemset
/.ruby-version
/public/*.eot
/public/*.svg
/public/*.woff2
/public/*.ttf
/public/*.woff
/public/*.hot-update.json
/public/*.hot-update.js
/public/*.js.map
/bower_components
/.vscode
yarn-error.log