.share-menu-chip {
  background-color: $colour-grey-light-2;
  border: 2px solid $colour-grey-light-4;
  color: $colour-grey-dark-1;
  display: flex;
  margin: 0 3px 3px 0;
  padding: 3px 10px;
}

.share-menu-chip_name {
  
}
