.comments-list {
  width: 100%;
}

.comments-list_title {
  color: $colour-grey-light-3;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
  & > a.grey-icon-button {
    display: inline-block;
  }
}
