$left-menu-padding: 300px !default;
$left-menu-text-color: #fff;
$left-menu-bg: #e0e4ea;
$left-menu-light-link-color: rgba(238, 238, 238, 0.9);
$left-menu-dark-link-color: rgba(238, 238, 238, 0.6);

$group-menu-width: 40px;
$right-action-bar-padding: 60px;
$rab-content-panel-width: 300px;

$drag-highlight-color: lighten($brand-primary, 45%);

$subHive-bar-bg: $gray-default;
$star-active-color: #9b51e0;
$unstar-active-color: #6fcf97;

$lightGreyViewPanelBackground: #fafafa;
$greyButtonColor: #bbbbbb;
