
.grid-item-menu-header {
  background-color: $color-1;
  color: white;
  button.close {
    color: white;
  }
}

  .selectize-full-border .selectize-input {
    border: 1px solid #eee;
    padding: 10px;
  }

  input.full-border {
    border: 1px solid #eee;
    padding: 10px;
  }

.label-form {
  height: 400px;
}
