.domain-name-input-group {
  .color-picker-group {
    .form-label {
      vertical-align: super;
    }

    .workspace-color-picker-container {
      margin: 20px 20px 20px;
      text-align: center;
      display: inline-block;
    }
  }
}
