.labels-filter-panel {
  position: relative;
  
  .close-labels-view-filter {
    position: absolute;
    left: -30px;
    color: #aaa;
    top: 45px;
  }
  .close-labels-view-filter:hover {
    color: $color-1;
  }
  .labels-filter-panel-body {
    position: fixed;
    top: 90px;
    height: 100%;
    width: 270px;
    background: white;
    right: 40px;
    transform: translateX(300px);
    transition: transform .2s;
    z-index: 1000;
    letter-spacing: .5px;
    padding: 25px 20px 10px 20px;
    border-left: 1px solid #eee;
  }
  label {
    text-transform: uppercase;
    font-weight: 400;
    color: #aaa;
    margin-bottom: 0;
  }
  .labels-list-section {
    margin-bottom: 15px;
    .labels-list {
      display: block;
      max-height: 200px;
      overflow-y: auto;
      margin-bottom: 10px;
    }
    .label-item {
      margin-bottom: 8px;
      width: 100%;
      border-radius: 0;
      font-size: 12px;
      padding: 0;
      text-transform: capitalize;
      a {
        width: 100%;
        color: white;
        padding: 7px 0px 7px 10px;
        @extend .flex-r-center-spacebetween;
      }
      .label-item-action {
        display: none;
      }
    }
    .label-item:hover {
      .label-item-action {
        display: block;
      }
    }
    .label-item-form {
      margin-bottom: 8px;
      .label-input-container {
        display: flex;
        button {
          background: white;
          border: 1px solid #ccc;
        }
        button:hover {
          background: lighten(#ccc, 15%);
        }
        button.label-submit-btn {
          border-left: none;
          border-right: none;
        }
      }
    }
  }
  .add-form-label {
    .label-tab-form {
      height: 240px;
    }
  }
}

.label-filter-panel-container {
  padding-right: 0;
  transition: padding-right .2s;
}

.label-filter-panel-container.active-label-filter-panel {
  padding-right: 270px;
  .labels-filter-panel {
    .labels-filter-panel-body {
      transform: translateX(0px);
    }
  }
}