.permissions-list {
  margin-bottom: 50px;
}

.pop-up-banner {
  margin-top: 20%;
}

label.mockSelect{
  font-weight: normal;
  margin: 0 3px 3px 0;
  padding: 3px 10px;
  background: #eeeeee;
  color: #232323;
  border: 2px solid #ccc;
}
