$left-subtopic-menu-bg: #ffffff;
$menu-left-group-sidebar-bg: #2c263f;

$colour-blue-1: #618dcd; //borders on drag & drop, highlights
$colour-green-1: #59d296; //RAG
$colour-green-2: #6bc289;

$colour-grey-1: #a2a2a2; //grey link and text on white bg
$colour-grey-light-1: #fafafa; //very pale grey backgrounds - similar to whiteSmoke
$colour-grey-light-2: #f2f2f2; //not-so-pale - bottom border for header, left border for right submenu
$colour-grey-light-3: #bbbbbb; //grey link and text
$colour-grey-light-4: #cccccc; //grey icon button
$colour-grey-dark-1: #333; //top bar
$colour-grey-dark-2: #555; //All Topics Header, etc
$colour-grey-dark-3: #777; //dark grey text

$colour-orange-1: #fc6621; //RAG
$colour-red-1: #bc2e36; //RAG

$colour-yellow-1: #f2ab13; //like buttons, hover over links, etc

$colour-purple-1: #ad72a8; // Workspace default color

$workspace-background: #e0e4ea;
$workspace-background-2: #d4d7dc;
