.label-select {
  @extend .dark-grey-link;
  align-items: center;
  display: flex;
  flex: 1 1 0;
  padding-right: 5px;
}

.label-select_name {
  @extend .dark-grey-link;
  display: flex;
  flex: 1 1 0;
  font-size: 15px;
  max-width: 100%;
  min-width: 150px;
}

.label-select-dropdown {
  width: 250px;
}
