.topic-select-destination-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.2);

  .topics-list-dropdown {
    top: 50%;
    left: 50%;
    width: 400px;
    height: 470px;
    margin: -214px 0 0 -200px;
  }
}
